html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #8E918D;
  background: url('../img/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #393b40;
  font-family: "Roboto", sans-serif;
}

::-moz-selection {
  background: #bac4cd;
  color: #d9dde6;
}

::selection {
  background: #bac4cd;
  color: #c0c5ce;
}

.container {
  margin: 0 auto;
  padding: 20px 0 20px;
  width: 75%;
}

@media (max-width: 320px) {
  .container {
    width: 90%;
  }
}

.js-text-editor {
  margin: auto;
  padding: 4px;
}

.editor-header {
  height: 84px;
  padding: 8px;
}

.editor-header a {
  color: #393b40;
  text-decoration: none;
}

.editor-header a:hover {
  color: #73586D;
}

.editor-content {
  box-shadow: 6px 6px 1px 0 rgba(34, 34, 40, 0.3);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 550px;
}

@media (max-width: 1080px) {
  .editor-content {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.editor-footer {
  color: #c3cdc4;
  margin: 0;
  padding: 20px 8px 8px;
}

.editor-footer a {
  color: #c3cdc4;
  font-style: italic;
  text-decoration: none;
}

.editor-info {
  font: 300 14px/1.5 "Roboto", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px 2px rgba(34, 34, 40, 0.8);
}

.editor-info li {
  display: inline-block;
  padding: 0 6px;
  line-height: 16px;
}

.editor-info li~li {
  border-left: 1px solid #c3cdc4;
}

@media (max-width: 1080px) {
  .editor-info li {
    display: block;
    margin: 10px 0;
  }
  .editor-info li~li {
    border-left: 0;
  }
}

.input-container {
  background-color: #2e313a;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 0px;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
   -webkit-order: 1;
  -ms-flex-order: 1;
           order: 1;
}

.input-content {
  background-color: #2e313a;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 0px;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
   -webkit-order: 2;
  -ms-flex-order: 2;
           order: 2;
}

.input-field {
  background-color: #2e313a;
  border: none;
  color: #acb1b1;
  font: normal 15px/1.5 "Input Mono", monospace;
  -webkit-flex: 1 1 0px;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  outline: none;
  overflow-y: scroll;
  padding: 12px 12px 12px 42px;
  resize: none;
  white-space: nowrap;
}

.input-footer,
.output-footer {
  background-color: #676c73;
  color: #2a2930;
  -webkit-flex: 0 0 28px;
      -ms-flex: 0 0 28px;
          flex: 0 0 28px;
  font: normal 14px/1 "Roboto", sans-serif;
   -webkit-order: 3;
  -ms-flex-order: 3;
           order: 3;
  padding: 8px 16px;
}

.input-header,
.output-header {
  background-color: #2a2930;
  color: #acb1b1;
  -webkit-flex: 0 0 34px;
      -ms-flex: 0 0 34px;
          flex: 0 0 34px;
  font: normal 14px/1 "Roboto", sans-serif;
   -webkit-order: 1;
  -ms-flex-order: 1;
           order: 1;
  padding: 10px 20px;
}

.output-container {
  background-color: #2e313a;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 0px;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
   -webkit-order: 2;
  -ms-flex-order: 2;
           order: 2;
}

.output-content {
  background-color: #2e313a;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 0px;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
   -webkit-order: 2;
  -ms-flex-order: 2;
           order: 2;
  overflow-y: scroll;
}

.output-field {
  -webkit-flex: 1 1 0px;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  color: #acb1b1;
}

.output-field,
.output-gutter {
  background-color: #2e313a;
  font: normal 15px/1.5 "Input Mono", monospace;
  padding: 12px 4px 0;
  white-space: pre;
}

.output-gutter {
  color: #7B7F84;
  -webkit-flex: 0 0 30px;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  text-align: right;
}

.output-info {
  margin-right: 10px;
}

.active {
  background-color: #272b34;
}

.comment {
  color: #3e4656;
}

.keyword,
.operator {
  color: #26a6a6;
}

.function-property,
.literal,
.method,
.object,
.property,
.value-property {
  color: #E5615B;
}

.number,
.regular-expression,
.string {
  color: #C1B852;
}

.whitespace {
  color: #40444d;
}
