html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(93, 99, 108);
  background: url('../img/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #393b40;
  font-family: "Roboto", sans-serif;
}

::selection {
  background: #bac4cd;
  color: #c0c5ce;
}

.js-text-editor {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 30px;
  min-width: 400px;
  padding: 10px 20px;
  width: 75%;
}

.editor-header {
  align-self: flex-start;
  flex: 1;
  flex-flow: row nowrap;
  height: 84px;
  order: 1;
  padding: 8px;
  width: 100%;
}

.editor-header a {
  color: #393b40;
  text-decoration: none;
}

.editor-header a:hover {
  color: #487673;
}

.editor-content {
  align-items: stretch;
  box-shadow: 6px 6px 1px 0 rgba(34, 34, 40, 0.3);
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  height: 80%;
  order: 2;
  overflow: auto;
  min-width: 400px;
  width: 100%;
}

.editor-footer {
  align-self: flex-end;
  color: #c3cdc4;
  flex: 1;
  height: 50px;
  order: 3;
  padding: 20px 8px 0;
  width: 100%;
}

.editor-footer a {
  color: #c3cdc4;
  font-style: italic;
  text-decoration: none;
}

.editor-info {
  display: inline-block;
  font: 300 14px/1.5 "Roboto", sans-serif;
  text-shadow: 2px 2px 2px rgba(34, 34, 40, 0.8);
}

.input-container {
  align-items: flex-start;
  background-color: #2b303b;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  height: 560px;
  order: 1;
  width: 50%;
  min-width: 400px;
}

.input-content {
  background-color: #2e313a;
  height: 89%;
  order: 2;
  overflow: hidden;
  width: 100%;
}

.input-field {
  background-color: inherit;
  border: none;
  color: #acb1b1;
  font: normal 15px/1.5 "Input Mono", monospace;
  height: 100%;
  outline: none;
  overflow-y: scroll;
  padding: 12px 12px 12px 52px;
  resize: none;
  width: 100%;
}

.input-footer,
.output-footer {
  background-color: #676c73;
  color: #2a2930;
  font: normal 14px/1 "Roboto", sans-serif;
  height: 5%;
  order: 3;
  overflow: hidden;
  padding: 8px 16px;
  width: 100%;
}

.input-header,
.output-header {
  background-color: #2a2930;
  color: #acb1b1;
  font: normal 14px/1 "Roboto", sans-serif;
  height: 6%;
  order: 1;
  overflow: hidden;
  padding: 10px 20px;
  width: 100%;
}

.output-container {
  align-items: flex-start;
  background-color: #2e313a;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  height: 560px;
  order: 2;
  overflow: hidden;
  width: 50%;
  min-width: 400px;
}

.output-content {
  align-items: stretch;
  background-color: inherit;
  display: flex;
  flex-flow: row nowrap;
  height: 89%;
  order: 2;
  overflow-y: scroll;
  width: 100%;
}

.output-field {
  color: #acb1b1;
  flex: 1;
  order: 2;
}

.output-field,
.output-gutter {
  background-color: inherit;
  display: inline-block;
  font: normal 15px/1.5 "Input Mono", monospace;
  padding: 12px 4px 0;
  vertical-align: top;
  white-space: pre;
}

.output-gutter {
  color: #acb1b1;
  flex: none;
  order: 1;
  text-align: right;
  width: 40px;
}

.output-info {
  margin-right: 10px;
}

.active {
  background-color: #272b34;
}

.comment {
  color: #3e4656;
}

.keyword,
.operator {
  color: #26a6a6;
}

.function-property,
.literal,
.method,
.object,
.property,
.value-property {
  color: #E5615B;
}

.number,
.regular-expression,
.string {
  color: #C1B852;
}

.whitespace {
  color: #40444d;
}
